---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "July 2025 - Present",
    title: "Founder & Lead Technician",
    company: "TapfarTech",
    description:
      "Developing client showcase websites and lead-generation strategies. Building brand visibility and credibility for individuals and small businesses through tailored web solutions and strategic IT support.",
  },
  {
    date: "May 2022 - Present",
    title: "Field Implementation Specialist",
    company: "Lorien Global",
    description:
      "Contracted to United Airlines at Newark Airport. Conduct disaster recovery planning initiatives and site assessments. Resolve helpdesk tickets and provide after-hours IT support for mission-critical airline operations.",
  },
  {
    date: "March 2021 - Present",
    title: "Data Systems Administrator",
    company: "U.S. Marine Corps Reserve",
    description:
      "Managed $1.65M+ in network assets; secured multi-platform systems. Designed security protocols and stayed current with IT advancements in military operations.",
  },
  {
    date: "May 2020 - Feb. 2022",
    title: "Operations Supervisor",
    company: "United Parcel Service (UPS)",
    description:
      "Built and led a warehouse team to exceed delivery and safety benchmarks. Performed safety drills and assessments, reinforcing compliance and emergency readiness. Improved workflow efficiency through tactical analysis.",
  },
  {
    date: "June 2025 - Present",
    title: "Web Developer & Technical Consultant",
    company: "AJLTechNJ.com (Client Project)",
    description:
      "Designed and deployed a custom website using Astro, hosted on client's domain. Configured business email and analytics to support digital operations and visibility. Providing ongoing IT support and strategic guidance.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
